* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}

main, aside, .pricing {
    padding: 2.5rem;
}

main {
    background-color: white;
}

main p {
    color: lightgray;
}

aside {
    background-color: hsl(179, 55%, 50%);
    color: white;
}

aside li {
    line-height: 1.4;
}

ul {
    list-style-type: none;
}

.whyUs h2, .pricing h2, main h1 {
    margin-bottom: 1.3rem;
}

.pricing {
    background-color: hsl(179, 62%, 43%);
    color: white;
}

.pricing2 {
    display: flex;
    flex-direction: column;
}

span {
    display: flex;
    align-items: center;
}

.dollar29 {
    font-size: 2rem;
    font-weight: bold;
}

.perMonth {
    color: rgba(211,211,211, 50%);
    font-size: 1rem;
    font-weight: lighter;
    margin-left: 15px;
}

.pricing p {
    margin: 10px 0 25px 0;
}

.top-subheading {
    color: hsl(71, 73%, 54%);
    margin-bottom: 1rem;
}

button {
    background-color: hsl(71, 73%, 54%);
    border: none;
    color: white;
    height: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

h1{
    color: hsl(179, 62%, 43%);
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media (min-width: 765px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "main main"
            "pricing aside"; 
        width: 700px;
    }

    main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px 10px 0 0;
    }
    
    .pricing {
        grid-area: pricing;
        border-radius: 0 0 0 10px;
    }

    aside {
        grid-area: aside;
        border-radius: 0 0 10px 0;
    }
}

@media (max-width: 764px) {
    main {
        border-radius: 10px 10px 0 0;
    }

    aside {
        border-radius: 0 0 10px 10px;
    }

    .flex-container {
        padding: 4rem 2rem 4rem 2rem;
        height: 100%;
    }
}
